/build/
/out/
/bin/
/Debug/
/Release/
/x64/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build.ninja
rules.ninja
compile_commands.json
CTestTestfile.cmake
Testing/

.vscode/

*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

/vcpkg_installed/

.DS_Store
Thumbs.db

*.obj
*.o
*.lo
*.la
*.a
*.lib
*.dll
*.exe
*.so
*.dylib
*.pdb

*.log

*.d

*.zip